:root {
    --blue: #0a5bf7;
    --dark_blue: #0c3f9e;
    --button_height: 44px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
    color: #787878;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.form_wrapper {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.form-container {
    width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 1px 5px 13px #18181822;
    border-radius: 6px;
}

.form__header {
    text-align: center;
    margin-bottom: 2rem;
}

.form__logo {
    margin-bottom: 10px;
}

.form__text {
    font-size: .9rem;
    color: gray;
}

.form__group {
    --bottom-margin: 1.5rem;
    position: relative;
    margin-bottom: var(--bottom-margin);
}

.form__group_small {
    --bottom-margin: 1rem;
}

.form__group_inline {
    display: flex;
    align-items: center;
}

.label_float {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 90ms ease-in-out;
}

.label_float_active:not(:focus) {
    color: rgb(112, 111, 111);
}

.form__input {
    --input_height: 44px;
    --padding_horizontal: 10px;
    --font_size: 1rem;
    height: var(--input_height);
    border: 1px solid gray;
    color: rgb(112, 111, 111);
    border-radius: 4px;
    padding: 0 var(--padding_horizontal);
    outline: none;
    display: block;
    width: 100%;
    font-size: var(--font_size);
}

.form__group_small .form__input {
    --input_height: 38px;
    --font_size: .9rem;
}

.form__input::-webkit-input-placeholder,
.form__input::-moz-placeholder {
    color: transparent;
}

.form__input:focus::-webkit-input-placeholder,
.form__input:focus::-moz-placeholder {
    color: rgb(112, 111, 111);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
input:autofill,
input:autofill:hover,
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
    background-color: #fff !important;
    background: #fff;
    transition: background-color 5000s ease-in-out 0s;
}

.form__input:focus {
    border-color: var(--blue);
}

.form__input:not(:disabled):focus+.label_float,
.label_float_active {
    top: -15px;
    left: 8px;
    transform: translateY(0);
    padding: 6px;
    background: #fff;
    font-size: 12px;
    color: var(--blue);
}

.form__input:disabled {
    cursor: not-allowed;
    background-color: #f0f0f0;
}

.form__input:disabled+.label_float {
    opacity: 0;
}

.form__input__icon,
.form__input__overlay {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form__input__overlay {
    font-size: 14px;
}

.form__input__icon .icon {
    color: gray;
}

.form__checkbox {
    display: inline-block;
    position: absolute;
    opacity: 0;
}

.checkbox__custom {
    --size: 20px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    background-color: #f0f0f0;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #c2c2c2;
    position: relative;
}

.checkbox__custom~label {
    cursor: pointer;
}

.form__checkbox:checked+.checkbox__custom {
    background: var(--blue);
    border-color: var(--dark_blue);
    color: #fff;
    text-align: center;
}

.form__checkbox:checked+.checkbox__custom::before {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "\2713";
}

.form__checkbox+.form__label {
    left: 20px;
}

.form__link {
    font-weight: 500;
    text-decoration: none;
    color: var(--blue);
}

.form__link:hover {
    text-decoration: underline;
}

.form__button {
    --button_height: 38px;
    --bottom_margin: .5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: var(--button_height);
    line-height: var(--button_height);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1rem;
    background: #0a5bf7;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: background-color 150ms ease;
    margin-bottom: var(--bottom-margin);
}

.form__button:hover {
    background: #0c5bed;
    opacity: .9;
}